/Logic/obj
/Logic/bin
/Logic.UT/obj
/Logic.UT/bin
/Reciever/bin
/Reciever/obj
/Transmiter/obj
/Transmiter/bin
/.vs/Simulator/FileContentIndex
/.vs/Simulator/v17/*.json
/.vs/Simulator/v17/TestStore/0/*.testlog
/.vs/Simulator/v17/TestStore/0/*.manifest
